<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

    <% include ../helpers/navbar %>
    <h1>My Projects</h1>
  </div>

  <p>Click on the button for a surprise.</p>

  <a href="https://xd.adobe.com/view/f4b37283-1d73-4875-9790-ef365c72bdef-a1e0/screen/46f14eaf-4597-4df9-b6bc-da4150fddd9c?fullscreen&hints=off">Click here</a>

  <div id="image"></div>
  
</body>

</html>